@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 14, 18, 23;
    --background-rgb: 255, 255, 255;
    --main-font: 'Outfit', sans-serif;
    --second-font: 'Silkscreen';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit";
    /* box-shadow: none;
    text-shadow: none; */
    /* outline: 2px solid red; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 243, 247, 251;
        --background-rgb: 14, 18, 23; /*18 19 22*/
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    /* text-shadow: none;
    box-shadow: none; */
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    border-color: #3b3b3b;
    user-select: none;
}

canvas {
    touch-action: none;
}

::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .common-padding {
        @apply p-1 md:p-2 lg:p-2;
    }

    .common-flex {
        @apply flex justify-center items-center;
    }
}
